@import "../../assets/style/global.scss";
@import "../../assets/style/sass-class.scss";

header {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: $primary;
  position: relative;
  // overflow: hidden;
  // padding: $space-sg 0;
  @include breakpoint(md) {
    background-color: $secondary;
  }
  @include breakpoint(ms) {
    height: auto;
  }

  .left {
    width: 100%;
    max-width: 1000px;
    height: inherit;
    z-index: 1;
    overflow: hidden;

    .content {
      position: relative;
      width: 100%;
      height: inherit;
      @include breakpoint(md) {
        width: auto;
      }
      .frameImg {
        position: absolute;
        right: 0;
        // height: 100vh;
        z-index: -1;
        @include breakpoint(md) {
          display: none;
        }
      }
      .frame {
        position: absolute;
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
        @include breakpoint(md) {
          align-items: center;
          padding-left: auto !important;
          width: 100%;
          justify-content: center !important;
          padding: $space-xxl $space-m;
        }

        .logo-wrapper {
          position: relative;
          max-width: 370px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 100px;
          @include breakpoint(md) {
            margin-left: 0px;
          }
          .logo {
            svg {
              width: 100%;
              height: 100%;
            }
            @include breakpoint(sm) {
              height: 150px;
            }
          }
          h1 {
            width: auto;
            color: $white;
            font-weight: $medium;
            font-size: $text-xl;
            margin-top: $space-sm;
            text-align: center;
            @include breakpoint(sm) {
              font-size: $text-ml;
            }
          }
          .rope {
            position: absolute;
            bottom: 3px;
            left: 390px;
            height: 60px;
            @include breakpoint(md) {
              position: relative;
              bottom: 0px;
              margin-top: $space-lg;
              left: 0px;
              height: 40px;
            }
            @include breakpoint(sm) {
              display: none;
            }
          }
        }

        .date-section {
          margin-left: 20px;
          margin-top: 90px;
          width: 600px;
          z-index: 3;
          @include breakpoint(md) {
            width: 100% !important;
            max-width: 600px;
            margin-left: 0 !important;
            margin-top: 40px !important;
          }
          @include breakpoint(sm) {
            width: 100% !important;
            max-width: 100%;
            margin-left: 0 !important;
            margin-top: 40px !important;
          }
        }
      }
    }
  }
  .top {
    position: absolute;
    top: 0;
    right: 20%;
    z-index: 999;
    @include breakpoint(md) {
      width: 100%;
      right: 0;
      display: flex;
    }
    .top-nav {
      margin-top: $text-xl;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint(md) {
        padding: 0 $space-xl;
        justify-content: flex-end;
      }

      a {
        color: $white;
        font-size: $text-lg;
        font-weight: $bold;
        cursor: pointer;
        margin-right: $space-m;
        transition: 0.3s;

        &:last-child {
          margin-right: 0px;
        }

        @include breakpoint(sm) {
          display: none;
        }
      }

      .menu-icon {
        display: none;
        width: 32px;
        height: 32px;
        color: $primary;
        background-color: $yellow;

        border-radius: 50%;

        @include breakpoint(sm) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .close-icon-wrapper{
        display: none;
      }
    }
    .mobil-menu {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      height: 250px;
      background-color: $night;
      padding: $space-m;
      a {
        font-size: $text-lg;
        font-weight: $bold;
        cursor: pointer;
        display: block;
        color: $yellow;
        // margin-top: $space-xxl;
      }

      .menu-icon {
        display: none;
      }
      .close-icon-wrapper {
        position: absolute;
        right: 10px;
        top: 10px;
        .close-icon {
          color: $yellow;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  .banner-img {
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 50%;
    max-height: 90vh;
    z-index: 1;
    @include breakpoint(lg) {
      width: 40%;
    }
    @include breakpoint(md) {
      display: none;
    }
  }
}
