@import "../../assets/style/global.scss";

#comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: $space-g 0;
  background-color: $ice;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .commentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
      margin-top: $space-g;
      .value {
        font-size: $text-sg;
        font-weight: $regular;
        text-align: center;
        color: $black;

        .green {
          font-size: inherit;
          background-color: $primary;
          color: $white;
        }
      }
      .author {
        position: relative;
        right: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space-lg;

        .pic {
          margin-right: $space-m;
        }
        .name {
          position: absolute;
          left: 120%;
          width: 145px;
          font-size: $text-xxl;
          font-weight: $regular;
        }
      }
    }
  }
}
