@import "../../assets/style/global.scss";

.h3 {
  font-size: $text-g;
  font-weight: $bold;  
  text-align: center;
}

.white {
  color: $white;
}

.primary {
  color: $primary;
}
.night {
  color: $night;
}
.yellow {
  color: $yellow;
}

