@import "../../assets/style/global.scss";
@import "../../assets/style/sass-class.scss";
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: $space-g 0;
  background-color: $soft-white;

  .container {
    position: relative;
    max-width: 950px;
    width: 80%;
    height: 600px;
    display: flex;
    @include breakpoint(md) {
      flex-direction: column;
      height: auto;
    }

    .catHand {
      position: absolute;
      bottom: 0;
      left: 32%;
      color: $primary;
      width: 40%;
      max-width: 400px;
      svg {
        width: 100%;
        height: 400px;
      }
      @include breakpoint(md) {
        display: none;
      }
    }
    .catFinger {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      @include breakpoint(md) {
        // flex-direction: column;
        justify-content: flex-start;
        position: relative;
        bottom: 0 !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        margin-bottom: 40px;
      }

      .iconWrapper {
        @include breakpoint(md) {
          display: none;
        }
      }

      .icon {
        position: absolute;
        z-index: 1;
        @include breakpoint(md) {
          display: none;
          left: 87px;
          bottom: 37px;
        }
      }

      .serviceName {
        width: 200px;
        position: absolute;
        z-index: 2;
        text-align: center;
        @include breakpoint(md) {
          width: auto;
          position: relative;
          bottom: 0 !important;
          top: 0 !important;
          right: 0 !important;
          left: 0 !important;
          order: 2;
          margin-left: 20px;
          text-align: left;
        }
        span {
          font-size: $text-xl;
          font-weight: $medium;
          color: $night;         
        }
      }

      .s1 {
        right: 100%;
        top: 60%;
      }
      .s2 {
        right: 100%;
        bottom: 60%;
      }
      .s3 {
        left: 100%;
        bottom: 60%;
      }
      .s4 {
        left: 100%;
        top: 60%;
      }
    }

    .paw {
      display: none;
      @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $yellow;
        min-width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $night;
        border: 2px solid $secondary;
        svg {
          height: 100%;
          width: 60%;
        }
      }
    }

    .f1 {
      left: 15%;
      bottom: 40%;
      .iconWrapper {
        transform: rotate(220deg);
        color: $secondary;
      }
    }
    .f2 {
      left: 35%;
      top: 10%;
      .iconWrapper {
        transform: rotate(220deg);
        color: $secondary;
      }
    }
    .f3 {
      left: 60%;
      top: 15%;
      .iconWrapper {
        transform: rotate(240deg);
        color: $secondary;
      }
    }
    .f4 {
      right: 15%;
      bottom: 30%;
      .iconWrapper {
        transform: rotate(240deg);
        color: $secondary;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 950px;
    }
  }
}
