@import "../../assets/style/global.scss";
.mainNavigation {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  width: 400px;
  a {
    color: $white;
    font-size: $text-lg;
    transition: 0.3s;
  }
}

@media screen and (max-width: 768px) {
 .mainNavigation{
   margin-right: 0 !important;
   
 }
}