@import "../../assets/style/global.scss";
.date {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;  
  background-color: $white;
  border-bottom: $space-lg solid $green;
  border-radius: $radius-lg;
  padding: $space-g $space-sg;
  bottom: -$space-g;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.4);

  .wrapper {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    
    .selectPet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: $space-sg;
      padding: 0 $space-m;

      .ddWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .dropdown {
          width: 45%;
          position: relative;
          display: inline-block;
          padding-bottom: $space-sm;
          border-bottom: 2px solid $green;
          cursor: pointer;

          .ddType {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
      }
    }

    .leftSide {
      position: absolute;
      bottom: -$space-sg;
      left: 0;
      margin-left: $space-xxl;
    }
    .rightSide {
      position: absolute;
      bottom: -$space-m;
      right: 0;
      margin-right: $space-xxl;
    }
  }
}

@media screen and (max-width: 1280px) {
.date {
  width: 80%;

  .wrapper{
    width: 550px;
  }
}
}

@media screen and (max-width: 768px) {
  
}