@import "./global.scss";


.bg-green{
    background-color: $green;
}
.bg-light-green{
    background-color: $light-green;
}
.bg-second-green{
    background-color: $second-green;
}
.bg-yellow{
    background-color: $yellow;
}
.bg-red{
    background-color: $red;
}
.bg-half-baked{
    background-color: $half-baked;
}
.bg-purple{
    background-color: $purple;
}
.bg-pink{
    background-color: $pink;
}