@import "./global.scss";


.bg-green{
    background-color: $green;
}
.bg-secondary{
    background-color: $secondary;
}
.bg-primary{
    background-color: $primary;
}
.bg-yellow{
    background-color: $yellow;
}
.bg-night{
    background-color: $night;
}
