//Colors
$green: #14a96d;
$second-green: #82f8c8;
$white: #ffffff;
$night: #40484f;
$light-gray: #eaeeef;
$black: #40484f;
$gray: #c4c4c4;

//space
$space-xxg: 6em;
$space-xg: 5em;
$space-g: 4rem;
$space-sg: 3rem;
$space-xxl: 2rem;
$space-xl: 1.5rem;
$space-lg: 1.25rem;
$space-m: 1rem;
$space-sm: 0.75em;
// $space-xs: 0.5rem;
// $space-xxs: 0.25rem;

//font
$text-sg: 2rem;
$text-xxl: 1.75rem;
$text-xl: 1.5rem;
$text-lg: 1.25rem;
$text-m: 1rem;
$text-sm: 0.75rem;

$extra-bold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;

//border
// $border: 2px solid $white;

//radius
$radius-lg: 1rem;
$radius: 0.5rem;
// $radius-sm: 0.25rem;
