@import "./global.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
}


.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker__day--in-range,.react-datepicker__day--selected{
  background-color: $primary !important;
  color: yellow !important;
  &:hover{
    color: #fff !important;
  }
}
.react-datepicker__navigation {
  outline: none !important;
}
.react-datepicker__day--keyboard-selected{
  background-color: transparent !important;
  color: #000 !important;
}
.react-datepicker__day--in-selecting-range{
  background-color: $secondary !important;
}

.btn {
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.iconic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  background-color: $primary;  
  font-size: $text-lg;
  margin-top: $space-xxl;
  border: none;
  padding: $space-xs 0;
  
  svg {
    margin-right: $space-m;
  }
}

.iconicBorder {
  @extend .iconic;
  color: $yellow;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: .8;
  }
}
