@import "../../assets/style/global.scss";
@import "../../assets/style/sass-class.scss";

footer {
  background-color: $night;

  .footer-img {
    position: absolute;
    bottom: -48px;
    right: -30px;
    z-index: 1;
    height: 200px;
    img {
      height: inherit;
    }
  }

  .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(md) {
      flex-direction: column;
    }

    .footer-box {
      width: 25%;
      height: 100%;
      padding: $space-m $space-xl 0;
      border-right: 1px solid $soft-white;
      display: flex;
      justify-content: center;

      @include breakpoint(slg) {
        padding: $space-m $space-m 0;
      }

      @include breakpoint(md) {
        padding: $space-xl 0;
        border-right: none;
        border-bottom: 1px solid $soft-white;
        width: 100%;
        align-items: center;
      }
      &:last-child {
        border: none;
      }
      h5 {
        font-size: $text-lg;
        letter-spacing: 0.3px;
        margin-bottom: $space-lg;
      }
      .box-container {
        display: flex;
        flex-direction: column;
      }
      .nav-item {
        margin-bottom: $space-xs;
        cursor: pointer;
        a {
          font-weight: $regular;
          color: $white;
          transition: 0.3s;
          &:hover {
            color: $yellow;
          }
        }
      }

      .media-box {
        display: flex;

        .socialmedia-item {
          margin-left: $space-lg;
          color: $soft-white;
          transition: 0.3s;
          cursor: pointer;
          a {
            color: inherit;
          }
          &:hover {
            color: $yellow;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .logo {
      svg {
        width: 100%;
      }
    }
    .navigation {
      min-width: 220px;
    }
    .social {
      min-width: 210px;
    }
    .contact {
      min-width: 210px;
      .contact-item {
        position: relative;
        margin-bottom: $space-m;
        display: flex;

        a {
          display: block;
          // min-width: 90px;
          word-break: break-all;
          position: relative;
          bottom: 1px;
          margin-left: $space-xs;
          font-weight: $regular;
          color: $white;
          transition: 0.3s;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}
