@import "../../assets/style/global.scss";

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $night;
    opacity: 0.92;
  }
  .modal-box {
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $soft-white;
    border-right: 4px solid $secondary;
    border-left: 4px solid $secondary;
    border-top: 4px solid $secondary;
    border-bottom: $space-lg solid $secondary;
    border-radius: $radius-lg;
    padding: $space-sg $space-sg;
    z-index: 2;
    .modal-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      img {
        width: 100%;
      }
    }

    .modal-form {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        width: auto;
        color: $primary;
        font-weight: $medium;
        font-size: $text-xl;
        margin-bottom: $space-xxl;
      }
    }
    .close-icon-wrapper {
      position: absolute;
      right: 10px;
      top: 10px;
      .close-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border: 2px solid transparent ;
        transition: 0.3s;

        &:hover {
          border: 2px solid $primary;
        }
      }
    }
  }
}
