@import "../../assets/style/global.scss";
@import "../../assets/style/sass-class.scss";

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100px;
  @include breakpoint(md) {
    width: 80px;
  }
  @include breakpoint(sm) {
    @include shadow(rgb(0 0 0 / 67%) 0px 0 10px);
    min-width: 90px;
    height: 90px;
    border-radius: 50%;
    order: 1;
  }
}
.img-wrapper-before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  @include breakpoint(sm) {
    display: none;
  }
}
@mixin emoji-box($width, $height) {
  width: $width;
  height: $height;
}

#howToWork {   
  background-color: $yellow;  

  @include breakpoint(sm) {
    padding: $space-g $space-xl;
  }

  .roadMapContainer {
    width: 95%;
    max-width: 1000px;
    // min-width: 800px;
    display: flex;
    flex-direction: column;
    @include breakpoint(sm) {
      width: 100%;
      min-width: 100%;
      max-width: none;
      align-items: center;
      justify-content: center;
      border: 2px solid $night;
      height: 1004px;
      border-radius: $radius-lg;
    }
    .mid {
      position: relative;
      z-index: 4;
      @include breakpoint(sm) {
        margin: 20px;

        &::before {
          position: relative;
          content: "";
          left: 0;
          box-sizing: border-box;
          flex-grow: 1;
          border: 1px solid $night;
          background-color: inherit;
          z-index: 1;
        }
        &::after {
          position: relative;
          right: 0;
          content: "";
          box-sizing: border-box;
          flex-grow: 1;
          border: 1px solid $night;
          background-color: inherit;
        }
      }
    }
    .point {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $space-m;
        border-radius: $radius-lg;
        color: $soft-white;

        .tag {
          font-weight: $semibold;
          font-size: $text-xl;
        }
      }
    }
    .right {
      align-self: flex-end;
      border-left: 3px solid $primary;
      @include breakpoint(sm) {
        align-self: center;
        border: none;
      }
      .right{
        padding-left: 15px;
      }
    }
    .left {
      align-self: flex-start;
      border-right: 3px solid $primary;
      box-sizing: content-box;
      @include breakpoint(sm) {
        align-self: center;
        border: none;
      }

      .info{
        padding-right: 15px;
      }
    }
    .row {
      width: 50%;
      padding-top: 30px;
      @include breakpoint(sm) {
        width: 100%;
        max-width: 360px;
        padding-top: 0 !important;
        margin: 5px 0;
      }

      .box {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
          display: flex;
          width: 370px;
          height: 100px;
          background-color: $light-gray;
          border-radius: $radius-lg;
          overflow: hidden;
          @include shadow(0px 4px 18px -9px rgba(0, 0, 0, 0.68));
          @include breakpoint(sm) {
            background-color: transparent;
            align-items: center;
            width: 100%;
            height: auto;
            box-shadow: none;
            padding: 10px;
          }

          .emj-handeshake {
            @include emoji-box(55px, 40px);
          }
          .emj-cam {
            @include emoji-box(52px, 40px);
          }
          .emj-poop {
            @include emoji-box(41.5px, 40px);
          }

          .emj-square {
            @include emoji-box(45px, 45px);
          }

          .imgWrapper-r {
            @extend .img-wrapper;
            // @include shadow(-10px 0px 21px -12px rgba(0, 0, 0, 0.63));

            &::before {
              @extend .img-wrapper-before;
              left: -15px;
             
            }
          }
          .imgWrapper-l {
            @extend .img-wrapper;
            // @include shadow(10px 0px 21px -12px rgba(0, 0, 0, 0.63));

            &::before {
              @extend .img-wrapper-before;
              right: -15px;             
            }
          }
          .info {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(sm) {
              padding-left: $space-lg;
              order: 2;
              flex-grow: 0;
              justify-content: flex-start;
            }           
            .tag {
              font-size: $text-lg;
              font-weight: $medium;
              color: $night;
              text-align: center;
              @include breakpoint(sm) {
                text-align: left;
              }     
            }
          }
        }
        .line {
          min-width: 20px;
          flex-grow: 1;
          border: 1px solid $primary;
          height: 0;
          @include breakpoint(sm) {
            display: none;
          }
        }
      }
    }

    .p-b-50 {
      padding-bottom: 50px;
      @include breakpoint(sm) {
        padding-bottom: 0 !important;
      }
    }
    .p-t-50 {
      padding-top: 50px;
    }
  }
}
